{% extends 'basic_auth.html' %}
{% load custom_tags %}

{% block content %}
    <div class="w-50 mx-auto pb-3">
        <form method="POST">
            {% csrf_token %}
            {% for field in form%}
                <p>
                    <label class="text-theme fw-bolder p-1">{{field.label}}</label>
                    {{field}}
                </p>
            {% endfor %}
            <button type="submit" class="btn-theme p-2 border-0 w-100">Отправить</button>
        </form>
    </div>
{% endblock %}
