{% extends 'basic.html' %}
{% load custom_tags %}

{% block content %}
    <div class="container text-center">
        <h3 class="text-center fw-bolder color-jade p-3">Введите публичную ссылку для просмотра содержимого</h3>
        <form method="GET" action="{% url 'index' %}">
            <input type="url" name="link" placeholder="Введите ссылку" class="w-50 p-1 rounded border-1" required value="https://disk.yandex.ru/d/CjsSyPE_ARousw">
            <input type="submit" value="Получить" class="btn-theme p-1 border-0">
        </form>
    </div>
{% endblock %}
