{% extends 'basic.html' %}
{% load custom_tags %}

{% block content %}
    <div class="container text-center">
        <h3 class="text-center fw-bolder color-jade p-3">Введите публичную ссылку для просмотра содержимого</h3>
        <form method="GET" action="{% url 'index' %}" class="mb-4">
            <input type="url" name="link" placeholder="Введите ссылку" class="w-50 p-1 rounded border-1" required value="{{search_url}}">
            <input type="submit" value="Получить" class="btn-theme p-1 border-0">
            {% if items %}<a href="{{resource_download_link}}" class="btn-theme p-1 border-0">Скачать все</a>{% endif %}
        </form>

        {% if error%}
            <h4 class="text-center fw-bolder color-jade p-3">Ошибка</h4>
            <p class="fs-4">{{error}}</p>
        {% elif items %}
            <h4 class="text-center fw-bolder color-jade p-3">Содержимое ссылки</h4>
            <div class="d-flex justify-content-between">
                {% if prev_url %}<a href="{{prev_url}}" class="btn-theme p-1 border-0">Назад</a>{% endif %}
                <div>
                    <span class="px-1">Тип:</span>
                    <select class="p-2 rounded" id="type-select">
                        {% for type in types %}
                        <option>{% if type != None %}{{type}}{%else%}папка{% endif %}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <table class="table mx-auto w-100">
                <tr>
                    <th>Название</th>
                    <th>Тип</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for item in items %}
                <tr class="public-link-row">
                    <td class="w-50">
                        {% if item.type != 'Папка' %}
                            {{item.name}}
                        {% else %}
                            <a href="{{item.url}}" class="text-black">{{item.name}}</a>
                        {% endif  %}
                    </td>
                    <td class="public-link-row__type">{% if item.type != None %}{{item.type}}{%else%}папка{% endif %}</td>
                    <td>
                        {% if item.type != 'Папка' %}
                            <a href="{{item.url}}" download= target='_blank' class="public-link-row__download-link btn btn-secondary">Скачать</a>
                        {% endif %}
                    </td>
                    <td>
                        <input type="checkbox" name="public-link-row" value="{{item.name}}" class="public-link-row__checkbox">
                    </td>
                </tr>
                {% endfor %}
            </table>
            <button id='multiple-download-button' class="btn btn-secondary d-none">Скачать несколько файлов</button>
        {% endif %}

    </div>
{% endblock %}
